Don't recommend identd

Identd is a less useful now than it was back when IRC first started. Now, username/hosts don't convey as much useful information, and since significantly fewer people are connecting from shared hosts, the identd response itself has become less useful, as anyone can spoof the response with relative ease.

In fact, [InspIRCd](https://wiki.inspircd.org/Modules/2.0/ident) recommends against it use, citing [this page](https://web.archive.org/web/20050828200336/http://www.clock.org/~fair/opinion/identd.html) as their reasoning. [UnrealIRCd](https://www.unrealircd.org/docs/Set_block#set::options::identd-check), [Charybdis](http://www.stack.nl/~jilles/irc/charybdis-oper-guide/configlines.htm#AEN1356) (and InpIRCd) all default to not using it.

Even if the current recommendation is kept, it should be translated into RFC 2119 terms, from its current `[...] the use of an “Identity Server” is recommended` (the entire USER message section seems to be largely taken from RFC 1459) to something along the lines of `A server (SHOULD|MAY) check the incoming connection through the Identification Protocol as specified in RFC 1413 [...]`.

Hmm, I can definitely see doing this, thanks for bringing it up! I'll compare the above with what the bigger nets default to at large (I should have some relevant info from the stats grabs I do, based on join notices), and update the advice based on that.

identd is still very much useful for multi-user hosts where users are not granted root or custom oidentd. That can be used to establish mutual bonds between networks and a higher connection count class

>identd is still very much useful for multi-user hosts where users are not granted root or custom oidentd. 

This is the only thing that we (InspIRCd) recommend it for as it makes banning those users easier, although now IPv6 is a thing its less necessary as you can just give each user their own IPv6 like IRCCloud does.

@SadieCat Do you still recommend identd? If yes, I'll close this issue